@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Allan&family=Architects+Daughter&family=Berkshire+Swash&family=Give+You+Glory&family=Miss+Fajardose&display=swap');

.circle {
  width: 182px;
  height: 178px;
  border-radius: 50%;
  border: 3px dashed #ffffff;
}

.percent {
  width: 74%;
  height: 93%;
}

.track {
  stroke: #fff;
  fill: none;
  stroke-width: 1.2;
  stroke-dasharray: 5;
  transition: 0.5s;
}

.progress-circle {
  stroke: #00875a;
  fill: none;
  stroke-width: 3;
  stroke-dasharray: 490;
  stroke-dashoffset: 0;
  transition: 2s;
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-wrapper {
  position: relative;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-between;
}

.step-wrapper::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
  background-color: #b3d4ff;
  width: 8%;
}

.progress {
  background: linear-gradient(320.04deg, #0052cc 15.35%, #4c9aff 86.73%);
  width: 60%;
  transition: 0.5s;
}

.progress-step {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #b3d4ff;
  border-radius: 50%;
  color: #fff;
  z-index: 99;
}

.active {
  background: linear-gradient(320.04deg, #0052cc 15.35%, #4c9aff 86.73%);
  color: #fff;
  transition: 0.5s;
}

input[type="checkbox"] {
  width: 40px;
  height: 25px;
  border-radius: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #6B778C;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #6B778C;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 140%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #6B778C transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
