@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */

@font-face {
  font-family: Adine-Kirnberg;
  src: url("../public/fonts/Adine-Kirnberg.ttf");
}

@font-face {
  font-family: champignonaltswash;
  src: url("../public/fonts/champignonaltswash.ttf");
}

@font-face {
  font-family: FormalScript;
  src: url("../public/fonts/FormalScript.ttf");
}

@font-face {
  font-family: HerrVonMuellerhoff-Regular;
  src: url("../public/fonts/HerrVonMuellerhoff-Regular.ttf");
}

@font-face {
  font-family: MrsSaintDelafield-Regular;
  src: url("../public/fonts/MrsSaintDelafield-Regular.ttf");
}

@font-face {
  font-family: SCRIPTIN;
  src: url("../public/fonts/SCRIPTIN.ttf");
}

@font-face {
  font-family: poppins-semibold;
  src: url("../public/fonts/Poppins-SemiBold.ttf");
}

@font-face {  
  font-family: poppins-regular;
  src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {  
  font-family: poppins-medium;
  src: url("../public/fonts/Poppins-Medium.ttf");
}

.poppins-regular {
  font-family: poppins-regular;
}

.poppins-medium {
  font-family: poppins-medium;
}

.poppins-semibold {
  font-family: poppins-semibold;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.Adine-Kirnberg {
  font-family: Adine-Kirnberg;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.champignonaltswash {
  font-family: champignonaltswash;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.FormalScript {
  font-family: FormalScript;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.HerrVonMuellerhoff-Regular {
  font-family: HerrVonMuellerhoff-Regular;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.MrsSaintDelafield-Regular {
  font-family: MrsSaintDelafield-Regular;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.SCRIPTIN {
  font-family: SCRIPTIN;
  font-size: 18px;
  align-items: center;
}

@layer components {
  .card-pin-form {
    @apply bg-white rounded-xl px-4 sm:px-11 pt-3 sm:pt-8 pb-4 sm:pb-9 relative;
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.1),
      0px 0px 1px rgba(9, 30, 66, 0.31);
  }
  .btn-pin-form {
    @apply w-14 h-14 mx-auto rounded-full text-3xl font-poppins text-neutral800 active:text-primary active:shadow-none active:bg-blue50 transition-colors select-none hover:cursor-pointer flex disabled:cursor-not-allowed disabled:active:bg-neutral40 disabled:bg-neutral40 disabled:text-neutral800 justify-center items-center;
    box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25),
      0px 0px 1px rgba(9, 30, 66, 0.31);
  }
  .btn-pin-form-invisible {
    @apply select-none hover:cursor-default;
  }
  .bullet-pin-form {
    @apply w-2.5 h-2.5 rounded-full mr-4 last:mr-0 transition-colors;
  }
}

.circle {
  width: 182px;
  height: 178px;
  border-radius: 50%;
  border: 3px dashed #ffffff;
}

.percent {
  width: 70%;
  height: 90%;
}

.track {
  stroke: #fff;
  fill: none;
  stroke-width: 1.2;
  stroke-dasharray: 5;
  transition: 0.5s;
}

.progress-circle {
  stroke: #00875a;
  fill: none;
  stroke-width: 3;
  stroke-dasharray: 490;
  stroke-dashoffset: 0;
  transition: 2s;
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-wrapper,
.step-wrapper2 {
  position: relative;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-between;
}

.step-wrapper {
  width: 70%;
}

.step-wrapper::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
  background-color: #dae6f8;
  width: 8%;
  left: 19%;
}
.step-wrapper2::before,
.progress2 {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
  background-color: #dae6f8;
  width: 85%;
}

.progress {
  background: #dae6f8;
  width: 63%;
  transition: 0.5s;
}

.progress2 {
  background: #dae6f8;
  width: 0;
  transition: 0.5s;
}

.progress-step {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #b3d4ff;
  border-radius: 50%;
  color: #fff;
  z-index: 99;
}

.active {
  background: #0052cc;
  color: #fff;
  transition: 0.5s;
}

.aktif {
  background: #0052cc;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #6b778c;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #6b778c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 140%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #6b778c transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.kfAyjk,
.sc-bczRLJ,
.hqAQls {
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

/* override react toastify style */

.Toastify__toast-success .Toastify__toast-icon {
  color: #57d9a3;
}

.Toastify__toast-error .Toastify__toast-icon {
  color: #ff5630;
}

/* override countdown circle timer style */

#countdown-timer-fr svg {
  background-color: rgb(0 0 0 / 0.2);
  border-radius: 50%;
}

.white-stroke {
  stroke: #fff !important;
}

