@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */

@font-face {
  font-family: Adine-Kirnberg;
  src: url("../public/fonts/Adine-Kirnberg.ttf");
}

@font-face {
  font-family: champignonaltswash;
  src: url("../public/fonts/champignonaltswash.ttf");
}

@font-face {
  font-family: FormalScript;
  src: url("../public/fonts/FormalScript.ttf");
}

@font-face {
  font-family: HerrVonMuellerhoff-Regular;
  src: url("../public/fonts/HerrVonMuellerhoff-Regular.ttf");
}

@font-face {
  font-family: MrsSaintDelafield-Regular;
  src: url("../public/fonts/MrsSaintDelafield-Regular.ttf");
}

@font-face {
  font-family: SCRIPTIN;
  src: url("../public/fonts/SCRIPTIN.ttf");
}

@font-face {
  font-family: poppins-semibold;
  src: url("../public/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: poppins-regular;
  src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("../public/fonts/Poppins-Medium.ttf");
}

.poppins-regular {
  font-family: poppins-regular;
}

.poppins-medium {
  font-family: poppins-medium;
}

.poppins-semibold {
  font-family: poppins-semibold;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.Adine-Kirnberg {
  font-family: Adine-Kirnberg !important;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.champignonaltswash {
  font-family: champignonaltswash !important;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.FormalScript {
  font-family: FormalScript !important;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.HerrVonMuellerhoff-Regular {
  font-family: HerrVonMuellerhoff-Regular !important;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.MrsSaintDelafield-Regular {
  font-family: MrsSaintDelafield-Regular !important;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.SCRIPTIN {
  font-family: SCRIPTIN !important; 
  font-size: 18px;
  align-items: center;
}

@layer components {
  .card-pin-form {
    @apply bg-white rounded-xl px-4 sm:px-11 pt-3 sm:pt-8 pb-4 sm:pb-9 relative;
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.1),
      0px 0px 1px rgba(9, 30, 66, 0.31);
  }
  .btn-pin-form {
    @apply w-14 h-14 mx-auto rounded-full text-3xl font-poppins text-neutral800 active:text-primary active:shadow-none active:bg-blue50 transition-colors select-none hover:cursor-pointer flex disabled:cursor-not-allowed disabled:active:bg-neutral40 disabled:bg-neutral40 disabled:text-neutral800 justify-center items-center;
    box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25),
      0px 0px 1px rgba(9, 30, 66, 0.31);
  }
  .btn-pin-form-invisible {
    @apply select-none hover:cursor-default;
  }
  .bullet-pin-form {
    @apply w-2.5 h-2.5 rounded-full mr-4 last:mr-0 transition-colors;
  }
  .simulator-btn-primary {
    @apply bg-primary disabled:bg-primary70 px-6 py-2.5 font-poppins font-semibold text-sm text-white disabled:text-neutral200 disabled:text-opacity-30 rounded disabled:cursor-not-allowed;
  }
  .simulator-header {
    @apply bg-primary pb-3;
  }
  .simulator-header-text {
    @apply px-3 pt-6 font-poppins font-semibold text-lg text-white text-center pb-4;
    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2),
      0px 0px 1px rgba(9, 30, 66, 0.31);
  }
  .simulator-btn-primary-pagination-prev {
    @apply bg-primary disabled:bg-primary70 p-2 w-10 h-10 rounded-tl-lg rounded-bl-lg disabled:cursor-not-allowed;
  }
  .simulator-btn-primary-pagination-next {
    @apply bg-primary disabled:bg-primary70 p-2 w-10 h-10 rounded-tr-lg rounded-br-lg disabled:cursor-not-allowed;
  }
  .simulator-canvas-wrapper {
    @apply bg-white mt-2 relative;
    border: 0.5px solid #c1c7d0;
    width: fit-content;
    /* min-height: 877px; */
  }
}

.input-file-style {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23C1C7D0FF' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='51' stroke-linecap='square'/%3e%3c/svg%3e");
}

.input-file-style__error {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23FF5630FF' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='51' stroke-linecap='square'/%3e%3c/svg%3e");
}

.circle {
  width: 182px;
  height: 178px;
  border-radius: 50%;
  border: 3px dashed #ffffff;
}

.percent {
  width: 70%;
  height: 90%;
}

.track {
  stroke: #fff;
  fill: none;
  stroke-width: 1.2;
  stroke-dasharray: 5;
  transition: 0.5s;
}

.progress-circle {
  stroke: #00875a;
  fill: none;
  stroke-width: 3;
  stroke-dasharray: 490;
  stroke-dashoffset: 0;
  transition: 2s;
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-wrapper,
.step-wrapper2 {
  position: relative;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-between;
}

.step-wrapper {
  width: 70%;
}

.step-wrapper::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
  background-color: #dae6f8;
  width: 8%;
  left: 19%;
}
.step-wrapper2::before,
.progress2 {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
  background-color: #dae6f8;
  width: 85%;
}

.progress {
  background: #dae6f8;
  width: 63%;
  transition: 0.5s;
}

.progress2 {
  background: #dae6f8;
  width: 0;
  transition: 0.5s;
}

.progress-step {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #b3d4ff;
  border-radius: 50%;
  color: #fff;
  z-index: 99;
}

.active {
  background: #0052cc;
  color: #fff;
  transition: 0.5s;
}

.aktif {
  background: #0052cc;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #6b778c;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #6b778c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 140%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #6b778c transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.kfAyjk,
.sc-bczRLJ,
.hqAQls {
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

/* override react toastify style */

.Toastify__toast-success .Toastify__toast-icon {
  color: #57d9a3;
}

.Toastify__toast-error .Toastify__toast-icon {
  color: #ff5630;
}

/* override countdown circle timer style */

#countdown-timer-fr svg {
  background-color: rgb(0 0 0 / 0.2);
  border-radius: 50%;
}

.white-stroke {
  stroke: #fff !important;
}

/* react-resizeable */
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
